@model BookLibrary.Models.BookModel
@{
    ViewData["Title"] = "Home Page";

    string userId = (string)TempData["userid"];
    List<BookModel> books = TempData["books"] as List<BookModel>;
    int numBooksCheckedOut = (int)TempData["numBooksCheckedOut"];
    bool disableCheckout = (numBooksCheckedOut >= 5);
    int currentPage = (TempData["currentPage"] == null) ? 1 : (int)TempData["currentPage"];
    int totalPages = (TempData["totalPages"] == null) ? 1 : (int)TempData["totalPages"];       
    string searchColumn = (TempData["searchColumn"] == null) ? "" : (string)TempData["searchColumn"];  
    string searchTerm = (TempData["searchTerm"] == null) ? "" : (string)TempData["searchTerm"];
}

<div class="text-center">
    <h1 class="display-4">Checkout or return books to the library</h1>    

    <div class="container" style="margin-top: 50px;">
        @if (userId == null || userId.Length == 0)
        {
            <p>Please <a href="/Identity/Account/Login">login</a> to view the list of books.</p>
        }
        else
        {
            @if (books != null && books.Count > 0)
            {
                <p>You are viewing page @currentPage of @totalPages pages.</p>
                <p>You currently have @numBooksCheckedOut books checked out. You are limited to 5 books at a time.</p>
                <form action="/Home/SearchBooks" method="post">
                    <div class="form-group">
                        <label for="searchTerm">Select search column:</label>
                        <select name="searchColumn" value="@searchColumn">
                            <option value="Title">Title</option>
                            <option value="Author">Author</option>
                            <option value="Year">Year</option>                        
                        </select>
                        <input type="text" name="searchTerm" placeholder="Search Text" value="@searchTerm"/>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>

                <form action="/Home/ChangePage" method="post">
                    <div class="form-group">
                        <label for="selectPage">Select page:</label>
                        <select name="selectPage">
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                @if (i == currentPage)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        </select>
                        <input type="hidden" name="searchColumn" value="@searchColumn" />
                        <input type="hidden" name="searchTerm" value="@searchTerm" />
                        <button type="submit" class="btn btn-primary">Select</button>
                    </div>
                </form>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Author</th>
                            <th scope="col">User Rating</th>
                            <th scope="col">Reviews</th>
                            <th scope="col">Price</th>
                            <th scope="col">Year</th>
                            <th scope="col">Genre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in @books)
                        {
                            <tr>
                                <td scope="row">@book.Name</td>
                                <td>@book.Author</td>
                                <td>@book.UserRating</td>
                                <td>@book.Reviews</td>
                                <td>@book.Price</td>
                                <td>@book.Year</td>
                                <td>@book.Genre</td>
                                <td>
                                    @if (book.CheckOutUserId != null && book.CheckOutUserId != userId)
                                    {
                                        <label class="label label-warning">Unavailable</label>
                                    }
                                    else
                                    {
                                        @if (book.CheckOutUserId != null && book.CheckOutUserId == userId)
                                        {
                                            <form asp-action="CheckInBook" asp-controller="Home" method="post">
                                                <input type="hidden" asp-for="Id" value="@book.Id" />                                           
                                                <button type="submit" class="btn btn-info">Check In</button>
                                            </form>                                        
                                        }
                                        else
                                        {
                                            <form asp-action="CheckOutBook" asp-controller="Home" method="post">
                                                <input type="hidden" asp-for="Id" value="@book.Id" />                                           
                                                <button type="submit" class="btn btn-success" disabled="@disableCheckout">Check Out</button>
                                            </form>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>            
            }
        }
    </div>
</div>